@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif; /* Aplique a fonte globalmente */
  background-image: url('/images/background.jpg');
  background-size: cover; /* Faz com que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
}
.container {
  min-height: 100vh; /* Garante que o contêiner tenha pelo menos a altura da viewport */
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}